{{ form_start(form) }}

<div class="form-group row">
    <label for="{{ form.org_name.vars.id }}" class="col-md-2 col-form-label">
        Organization Name
    </label>
    <div class="col-md-10">
        {{ form_widget(form.org_name) }}
        {{ form_help(form.org_name) }}
        {{ form_errors(form.org_name) }}

    </div>
</div>

<div class="form-group row">
    <label for="{{ form.address.vars.id }}" class="col-md-2 col-form-label">
        Address
    </label>
    <div class="col-md-10">
        {{ form_widget(form.address) }}
        {{ form_help(form.address) }}
        {{ form_errors(form.address) }}
    </div>
</div>

<div class="form-group row">
    <label for="{{ form.citystatezip.vars.id }}" class="col-md-2 col-form-label">
        City, State, Zip
    </label>
    <div class="col-md-10">
        {{ form_widget(form.citystatezip) }}
        {{ form_help(form.citystatezip) }}
        {{ form_errors(form.citystatezip) }}
    </div>
</div>


<div class="form-group row">
    <label for="{{ form.phone.vars.id }}" class="col-md-2 col-form-label">
        Phone
    </label>
    <div class="col-md-4">
        {{ form_widget(form.phone) }}
        {{ form_help(form.phone) }}

        {{ form_errors(form.phone) }}

    </div>

    <label for="{{ form.email.vars.id }}" class="col-md-2 col-form-label">
        Email
    </label>
    <div class="col-md-4">
        {{ form_widget(form.email) }}
        {{ form_help(form.email) }}
        {{ form_errors(form.email) }}

    </div>
</div>

<div class="form-group row">
    <label for="{{ form.fax.vars.id }}" class="col-md-2 col-form-label">
        Fax
    </label>
    <div class="col-md-4">
        {{ form_widget(form.fax) }}
        {{ form_help(form.fax) }}
        {{ form_errors(form.fax) }}
    </div>

    <label for="{{ form.website.vars.id }}" class="col-md-2 col-form-label">
        Website
    </label>
    <div class="col-md-4">
        {{ form_widget(form.website) }}
        {{ form_help(form.website) }}
        {{ form_errors(form.website) }}

    </div>
</div>

<div class="form-group row">
    <div class="col-md-2 col-form-label">
        {{ form_label(form.name) }}
    </div>
    <div class="col-md-10">
        {{ form_widget(form.name) }}
        {{ form_help(form.name) }}
        {{ form_errors(form.name) }}
    </div>
</div>

<div class="row">
    <div class="col col-md-10 offset-md-2">
        {{ form_rest(form) }}
    </div>
</div>

{{ form_end(form) }}
